<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台模板管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/css/Admin/style2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/Admin/bootstrap.min.css">
    <link rel="stylesheet" href="../admin/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/Admin/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Admin/bootstrap.min.js"></script>
    <style>
        #header .navbar-brand {
            font-size: 34px;
            line-height: 60px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        #footer p {
            text-align: center;
            color: black;
        }
    </style>
</head>
<body>
<include file="Public:page_header"/>
<div id="content">
    <div class="container">
        <div class="row">
            <include file="Public:page_left"/>
            <div class="col-md-10">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li><a>当前位置</a></li>
                        <li><a href="#">系统管理</a></li>
                        <li><a href="#">修改密码</a></li>
                    </ol>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <form class="form-horizontal" role="form" action="__URL__/change_password_do" method="post">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    旧密码
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="password" name="old_password" class="form-control" placeholder="请输入旧密码">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    新密码
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="password" name="new_password" class="form-control" placeholder="请输入新密码">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">
                                                    重复密码
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="password" name="new_password_re" class="form-control" placeholder="请再次输入新密码">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">

                                                </label>
                                                <div class="col-md-5">
                                                    <input type="submit" class="btn btn-info" value="提交">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#collapseOne').collapse('show')
    });
</script>
<include file="Public:page_footer"/>
</body>
</html>