<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台模板管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/css/Admin/style2.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/Admin/bootstrap.min.css">
    <link rel="stylesheet" href="../admin/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/Admin/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Admin/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
<include file="Public:page_header"/>
<div id="content">
    <div class="container">
        <div class="row">
            <include file="Public:page_left"/>
            <div class="col-md-10">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li><a>当前位置</a></li>
                        <li><a href="#">学生管理</a></li>
                        <li><a href="#">编辑学生</a></li>
                    </ol>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <form class="form-horizontal" role="form" action="__URL__/edit_student_do" method="post">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            id
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="id" class="form-control" value="{$list['id']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            学号
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="username" class="form-control" value="{$list['username']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            姓名
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="name" class="form-control" value="{$list['name']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            年龄
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="age" class="form-control" value="{$list['age']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            性别
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="sex" class="form-control" value="<if condition='$list.sex eq 0'>男<else/>女</if>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            专业
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="major" class="form-control" value="{$list['major']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            班级
                                        </label>
                                        <div class="col-md-5">
                                            <input type="text" name="class" class="form-control" value="{$list['class']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">

                                        </label>
                                        <div class="col-md-2">
                                            <input type="submit" class="btn btn-info" value="提交">
                                        </div>
                                        <button class="btn"><a href="__URL__/index">返回</a></button>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#collapseTwo').collapse('show')
    });
    $(function () {
        $('#collapseOne').collapse('hide')
    });

</script>
<include file="Public:page_footer"/>
</body>
</html>